<form>
  <div class="about_content jumbotron" id="about_me">
    I am
    <strong><span><input id="age" type="text" style="width:8%" maxlength="2" required></span></strong> years old and my annual
    income is $
    <strong><span><input id="income" type="text" maxlength="7" style="width:20%" required></span></strong> where I'd like
    to retire at
    <strong><span><input id="years" type="text" style="width:8%" maxlength="2" required></span></strong>
  </div>
  <br class="clear">
  <footer class="col-sm-offset-5 col-sm-2">
    <a class="hyperlink_style" href="../views/choicepage.html">
      <button class="btn btn-sm btn-block hyperlink_style" type="button">Continue</button>
    </a>
  </footer>
</form>